<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered" *ngIf="blog$ | async as blog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalToggleLabel">
          <h5>{{ blog.author }}</h5>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card-user-image">
          <img
            src="https://source.unsplash.com/600x400/?car,automobile"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
      </div>
      <div class="modal-footer">
        <div class="footer-body">
          <div class="content">
            <h4 class="card-title">{{ blog.title }}</h4>
            <p>
              {{ blog.content }}
            </p>
          </div>
          <div class="comments">
            <ul
              class="comment-container"
              *ngFor="let comment of comments$ | async"
            >
              <li class="comment">
                <div class="wrap">
                  <div class="wrap-user">
                    <div class="user-avatar">
                      <img src="../../../../assets/icons/user.png" alt="" />
                    </div>
                  </div>
                  <div class="data">
                    <h5>{{ comment.userId.username }}</h5>
                    <p>
                      {{ comment.text }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="add-comment">
            <form [formGroup]="CommentForm" (ngSubmit)="onSubmit()">
              <input
                type="text"
                class="form-control"
                placeholder="Add comment"
                aria-label="Add comment"
                formControlName="comment"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <a
  class="comments-btn"
  data-bs-toggle="modal"
  href="#exampleModalToggle"
  role="button"
  (click)="getBlog()"
  ><img src="../../../../assets/icons/comments.png" alt="My PNG Image"
/></a> -->
