.card__image {
  width: 100%;
}
.footer-body {
  width: 100%;
  .comments {
    max-height: 200px;
    overflow-y: scroll;
    padding: 20px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    .comment-container {
      list-style: none;
      padding: 10px;
      border-radius: 15px;
      background: #dddddd;
      width: fit-content;
      max-width: 100%;
      .comment {
        display: flex;
        .wrap {
          display: flex;
          gap: 1rem;
          align-items: flex-start;
          .user-avatar {
            width: 40px;
            height: 40px;
            overflow: hidden;
            display: flex;
            border-radius: 50%;
            img {
              width: 40px;
              height: auto;
            }
          }

          .data {
            display: grid;
            h5 {
              margin: 0;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .add-comment {
    padding: 20px 0 0 0;
    .form-control {
      height: 45px;
    }
  }
  .comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  .comments::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  .comments::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
.comments-btn {
  width: 20px;
  display: flex;
  height: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}
