<div class="container center-form">
  <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <p class="title">Register</p>
    <p class="message">Signup now and get full access to our app.</p>
    <label>
      <input
        required=""
        placeholder=""
        type="text"
        class="input"
        formControlName="username"
      />
      <span>Username</span>
      <span
        *ngIf="
          emailForm.get('username')?.hasError('required') &&
          emailForm.get('username')?.touched
        "
        class="invalid-feedback"
      >
        Username is required.</span
      >
      <div
        *ngIf="
          (emailForm.get('username')?.hasError('minlength') ||
            emailForm.get('username')?.hasError('required')) &&
          emailForm.get('username')?.touched
        "
        class="invalid-feedback"
      >
        Username must be at least 4 characters long.
      </div>
    </label>
    <label>
      <input
        required=""
        placeholder=""
        type="email"
        class="input"
        formControlName="email"
      />
      <span>Email</span>
      <span
        *ngIf="
          emailForm.get('email')?.hasError('required') &&
          emailForm.get('email')?.touched
        "
        class="invalid-feedback"
      >
        Email is required.</span
      >
      <span
        *ngIf="
          emailForm.get('email')?.hasError('email') &&
          emailForm.get('email')?.touched
        "
        class="invalid-feedback"
      >
        Email not valid.</span
      >
    </label>

    <label>
      <input
        required=""
        placeholder=""
        type="password"
        class="input"
        formControlName="password"
      />
      <span>Password</span>
    </label>
    <button class="submit" type="submit" [disabled]="!emailForm.valid">
      Submit
    </button>
    <p class="signin">Already have an acount ? <a href="#">Signin</a></p>
  </form>
</div>
